<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

{{>head}}

</head>

<body class="stretched">

	<div id="wrapper" class="clearfix">

		{{>nav}}

        <section id="content" style="background:#f9f9f9">

			<div class="content-wrap">

				<div class="container clearfix">

					<h1>Thank you!</h1>
					<h2>We will contact you soon!</h2>
				

				</div>

			</div>

		</section>

		
		{{>footer}}
	</div>

	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/plugins.js"></script>
	<script type="text/javascript" src="/js/functions.js"></script>

</body>
</html>

