

<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

{{>head}}

</head>

<body class="stretched">

	<div id="wrapper" class="clearfix">

		{{>nav}}

        <section id="content" style="background:#f9f9f9">

			<div class="content-wrap">

				<div class="container clearfix">

					<h1>{{ message }}</h1>
					<h2>{{ error.status }}</h2>
<!-- <pre>{{ error.stack }}</pre>	 -->				

				</div>

			</div>

		</section><!-- #content end -->

		
		{{>footer}}
	</div>

	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/plugins.js"></script>
	<script type="text/javascript" src="/js/functions.js"></script>

</body>
</html>

