<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

{{>head}}

</head>

<body class="stretched">

	<div id="wrapper" class="clearfix">

		{{>nav}}

		<section id="content">

			<div class="content-wrap" style="padding:0px">

				<div class="row clearfix common-height">

					<div class="col-md-6 center col-padding" style="background: url('images/class.jpg') center center no-repeat; background-size: cover;">
						<div>&nbsp;</div>
					</div>

					<div class="col-md-6 center col-padding" style="background-color: #F5F5F5;">
						<div>
							<div class="heading-block nobottomborder">
								
								<h3>Welcome to my portfolio website</h3>
								<img class="profile-icon"  src="/images/download-1.jpeg">
							</div>

							
							<p class="lead nobottommargin" style="height:420px">
							Hi there! My name is Forrest Pan and I am a software developer based in New York City. Since 2013, I have worked with startups, development agencies, and large companies building software solutions. I specialitze in Node, React and iOS.
							<br /><br />
							When not coding, I am learning new frameworks, playing with  my cat, and updating my fantasy basketball team. Not necessary in that order.
							</p>
						</div>
					</div>

				</div>				

				<div class="section notopmargin" style="background:#fff"; border=top:1px solid #ddd>
					<div class="container clearfix">
						<div class="heading-block center nomargin">
							<h3>Projects</h3>
						</div>
					</div>
				</div>

				<div class="container clearfix">
					<div class="row">

						<div class="col-md-3 col-sm-6 bottommargin">
							<div class="ipost clearfix">
								<div class="entry-image">
									<a href="#"><img class="image_fade" src="images/perc.jpeg" alt="Image"></a>
								</div>
								<div class="entry-title">
									<h3><a href="blog-single.html">Bloomberg smart cities; change-makers economic security</a></h3>
								</div>
								<ul class="entry-meta clearfix">
									<li></i> Node JS</li>
									<li></i> React</li>
									<li></i> Mongo DB</li>									
								</ul>
								<div class="entry-content">

									<p>
									Perc is an apartment search web app that alerts users when certain apartments are listed that fit within a perdefined criteria</p>
								</div>
							</div>
						</div>

						<div class="col-md-3 col-sm-6 bottommargin">
							<div class="ipost clearfix">
								<div class="entry-image">
									<a href="#"><img class="image_fade" src="images/project2.jpeg" alt="Image"></a>
								</div>
								<div class="entry-title">
									<h3><a href="blog-single.html">Medicine new approaches communities, outcomes partnership</a></h3>
								</div>
								<ul class="entry-meta clearfix">
									<li></i> Node JS</li>
									<li></i> React</li>
									<li></i> Mongo DB</li>									
								</ul>
								<div class="entry-content">

									<p>
									My project2 is blah blah
									</p>
								</div>
							</div>
						</div>

						<div class="col-md-3 col-sm-6 bottommargin">
							<div class="ipost clearfix">
								<div class="entry-image">
									<a href="#"><img class="image_fade" src="images/magazine/thumb/3.jpg" alt="Image"></a>
								</div>
								<div class="entry-title">
									<h3><a href="blog-single.html">Significant altruism planned giving insurmountable challenges liberal</a></h3>
								</div>
								<ul class="entry-meta clearfix">
									<li><i class="icon-calendar3"></i> 30th Dec 2014</li>
									<li><a href="blog-single.html#comments"><i class="icon-comments"></i> 13</a></li>
								</ul>
								<div class="entry-content">
									<p>Micro-finance; vaccines peaceful contribution citizens of change generosity. Measures design thinking accelerate progress medical initiative.</p>
								</div>
							</div>
						</div>

						<div class="col-md-3 col-sm-6 bottommargin">
							<div class="ipost clearfix">
								<div class="entry-image">
									<a href="#"><img class="image_fade" src="images/magazine/thumb/4.jpg" alt="Image"></a>
								</div>
								<div class="entry-title">
									<h3><a href="blog-single.html">Compassion conflict resolution, progressive; tackle</a></h3>
								</div>
								<ul class="entry-meta clearfix">
									<li><i class="icon-calendar3"></i> 15th Jan 2014</li>
									<li><a href="blog-single.html#comments"><i class="icon-comments"></i> 54</a></li>
								</ul>
								<div class="entry-content">
									<p>Community health workers best practices, effectiveness meaningful work The Elders fairness. Our ambitions local solutions globalization.</p>
								</div>
							</div>
						</div>

					</div>



					<div class="postcontent notopmargin" style="background:#f9f9f9">

						<h3>Send us an Email</h3>

						<div class="contact-widget">

							<div class="contact-form-result"></div>

							<form class="nobottommargin" id="template-contactform" name="template-contactform" action="/contact" method="post">

								<div class="form-process"></div>

								<div class="col_one_third">
									<label for="template-contactform-name">Name <small>*</small></label>
									<input type="text" id="template-contactform-name" name="fullName" value="" class="sm-form-control required" />
								</div>

								<div class="col_one_third">
									<label for="template-contactform-email">Email <small>*</small></label>
									<input type="email" id="template-contactform-email" name="email" value="" class="required email sm-form-control" />
								</div>

								<div class="col_one_third col_last">
									<label for="template-contactform-phone">Phone</label>
									<input type="text" id="template-contactform-phone" name="phone" value="" class="sm-form-control" />
								</div>

								<div class="clear"></div>

								<div class="col_two_third">
									<label for="template-contactform-subject">Subject <small>*</small></label>
									<input type="text" id="template-contactform-subject" name="subject" value="" class="required sm-form-control" />
								</div>

								<div class="clear"></div>

								<div class="col_full">
									<label for="template-contactform-message">Message <small>*</small></label>
									<textarea class="required sm-form-control" id="template-contactform-message" name="message" rows="6" cols="30"></textarea>
								</div>

								<div class="col_full">
									<button class="button button-3d nomargin" type="submit" id="template-contactform-submit" name="template-contactform-submit" value="submit">Send Message</button>
								</div>

							</form>
						</div>

					</div>
				</div>

			</div>

		</section>

		{{>footer}}

	</div>



	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/plugins.js"></script>


	<script type="text/javascript" src="js/functions.js"></script>

</body>
</html>
